/*  your css code here. If applicable */
body{
	background-color: rgb(204, 204, 204);
}
h1{
	text-align:center;
}
h2{
	text-align:center;
}
li{
	list-style-type:none
}
a{
	text-decoration-line:none;
}
.playlist{
	background-color:white;
	border:2px solid black;
	border-radius:8px
	
}
video{
	width:100%;
	
}
.card{
	background:white;
	padding:10px;
	width:500px;
	margin:auto;
	border:2px solid black;
	border-radius:10px;
}