body {
    background-color: rgb(204, 204, 204);
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    text-align: center;
}

/* Playlist box */
.playlist-box {
    width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    padding: 5px 0;
    font-size: 18px;
}

a {
    text-decoration-line: none;
    color: black;
}

/* Video and Audio Player container */
.player {
    width: 600px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    text-align: center;
}

video, audio {
    width: 100%;
    border-radius: 10px;
}
